body{
    
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: auto;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{ 
    color: #11999E;
    font-family: 'Merriweather', serif

    
}
.introduction-paragraph{
    width: 30%;
    margin: auto;
}
.contact-me{
    width: 30%;
    margin: auto;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

p{
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 2;
}
div{
    background-color: white;
}
hr{
    border: dotted #97e5ef 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.top-container{
    background-color: #dbdbdb;
    position: relative;
    padding-top: 100px;
    
    }
.middle-container{
    margin: 100px 0;
    
}
    .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.Abbhouse{
    width: 90%;
    padding-bottom: 25px;
}
.carpenter-image{
    width: 25%;
    float: left;
    padding: 30px;
}
.ceiling-image{
    width: 25%;
    float: right;
    padding: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.button {
    background-color: #005082; 
    border: none;
    border-radius: 15%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif
  }
  
  a{
      color: #11999E ;
      margin: 10px 20px;
      text-decoration: none;
  }
  a:hover{
      color: #dbdbdb;
  }
  